img{
    height: 13rem;
}
:host{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    row-gap: 3rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    border-radius: 4%;
    box-shadow: 0px 0px 12px 5px #838080;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 0.5rem 1.5rem rgb(10, 9, 9);
    transform: translateY(-1.25rem);
    transition: all 200ms ease-in-out;
}
.close{
    border: none;
    background-color: white;
}

