<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Online LMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/plans" routerLinkActive="active">Get Plans</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
                </li> -->
                <div *ngIf="logoutActive;then logout else login">here is ignored</div>
                <ng-template #logout>
                    <li class="nav-item">
                        <a class="nav-link" href="/" (click) = "onLogout()">Logout</a>
                    </li>
                </ng-template>
                <ng-template #login>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                </ng-template>
                <!-- <li class="nav-item" *ngIf="loginActive">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item" *ngIf="logoutActive">
                    <a class="nav-link" routerLink="/" (click) = "onLogout()">Logout</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
