.signupButton,button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}
button:hover, a:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.loginImg{
    width: 500px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 85% !important;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.alert{
    width: 70% !important;
}