img{
    width: 30rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}
.signupForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}