img{
    width: 30rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
button, a{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}
.signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.planid{
    display: none;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
    background-color: rgb(238, 238, 238);
    margin-right: 1rem;
}
button:hover, a:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}