<div class="container-fluid mainHeader">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main-header-left">
                    <p>Welcome to Online LMS</p>
                    <h1>View & Read all limited Edition <span class="textColor"> Books </span> at <span class="textColor"> Low Cost</span></h1>
                    <a routerLink="/books"><button>Check Books</button></a>
                </div>
                <div class="col-md-6 col-12 main-header-right">
                    <img src="assets/library.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>  